/*size for phones and another devices*/
.people img[data-src] {
    filter: blur(0.2em);
  }
  
.people img {
    filter: blur(0em);
    transition: filter 3s;
    padding: 5px;
}

@media only screen and (min-width: 22em) {
   
.containpeople{

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 12px;
}
.people{
    margin: auto;
}
}